* {
   padding: 0;
   margin: 0; 
}

nav {
   width: 100%;
   height: 120px;
   background-color: rgb(16, 16, 16);
   display: flex;
   flex-direction: column;
}

.Menu-central {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   align-items: first baseline;
   justify-content: center;
}
.Menu-central img {
  width: 100%;       /* Se adapta al ancho de la pantalla */
  max-width: 100%; /* No se hace demasiado grande en pantallas enormes */
  height: auto;      /* Mantiene la proporción */
  border-radius: 10px;
  object-fit: cover; /* Recorta y ajusta si es necesario */
}
/*Logo Netflix ubicacion*/
.Menu-izquierda {
   width: 700px;
   height: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
/*Ubicacion del menu de opciones*/
.Menu-derecha {
   width: 100%;
   height: 40%;
   display: flex;
   background-color: rgb(16, 16, 16);
   flex-direction: row;
   align-items: center;
   justify-content: end;
   padding: 30px;

}
/*Estilo de letra del menu de opciones*/
.Menu-derecha a {
   width: 50%;
   height: 50px;
   text-decoration: none;
   color: rgb(255, 255, 255);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 20px;
   margin: 15px;
   padding: 100px;
   border-radius: 10px;
   box-shadow: 3px, 3px, 6px rgb(184, 25, 25);
}

@media screen and (max-width: 1000px) {

   .Menu-normal {
   display: none;
}

/* ==== Estilos para el ícono hamburguesa ==== */
.hamburger-icon {
  display: flex;
  margin-right: 70px;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.hamburger-icon span {
  display: block;
  height: 4px;
  background-color: rgb(255, 255, 255); /* cambia a negro si tu fondo es claro */
  border-radius: 2px;
}


   .menu-container.menu-open .menu-normal{
      background-color: rgb(0, 187, 0);
      z-index: 2;
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      margin: 400px;
   }
}

